@using System.Web.Optimization
@using EPiServer.Framework.Web.Mvc.Html
@using Tealium.EPiServerTagManagement.Html
@model EPiServer.Commerce.Catalog.ContentTypes.CatalogContentBase
<!DOCTYPE html>
<html lang="@Model.Language">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=10" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@Model.Name</title>
        @Html.CanonicalLink()
        @Html.AlternateLinks()
        @Styles.Render("~/bundles/css")
        @Scripts.Render("~/bundles/js")
        @Html.RequiredClientResources("Header") @*Enable components to require resources. For an example, see the view for VideoBlock.*@
        @TealiumScripts.Head(Model)
    </head>

    <body>
        @TealiumScripts.Body(Model)
        @Html.RenderEPiServerQuickNavigator()
        @Html.FullRefreshPropertiesMetaData()
        <div class="container">
            
                @{ Html.RenderPartial("ProductHeader", Model); }
            
            @RenderBody()
            
                @{ Html.RenderPartial("ProductFooter", Model); }
            
        </div>
        @Html.RequiredClientResources("Footer")
    </body>
</html>
